{% extends 'main/base.html' %}
{% load static %}
{% block cssedit %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Backend-программист</h1>
    <p>
        {% for el in firstPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="">
        {% endif %}
        {% endfor %}
    </p>
    <h3>
        Бэк-энд разработчик (с англ. back-end (оборотная сторона) developer) — это специалист, который занимается программно-административной частью веб-приложения, внутренним содержанием системы, серверными технологиями — базой данных, архитектурой, программной логикой.
    </h3>
    <p>
    {% for el in secondPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="">
        {% endif %}
        {% endfor %}
    </p>
    <h4>Этот опытный специалист должен иметь высшее техническое образование, первоклассные знания и опыт работы в сфере IT-технологий. Backend-разработчик – это интересная и перспективная профессия для тех, кого интересуют информатика и математика.</h4>
    <p>
    {% for el in thirdPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="">
        {% endif %}
        {% endfor %}
    </p>
    <h5>Многие современные сайты, веб-приложения (те, что запускаются не на шаблонных конструкторах) стали очень сложными, поэтому над ними работает целая команда специалистов. Чтобы создать полноценный, красивый, функциональный и удобный для пользователя сайт, необходима согласованная работа дизайнеров, фронтенд- и бэкенд-разработчиков и тех, кто будет всю эту работу контролировать, чтобы получилось нужное бизнесу приложение: аналитиков, проджект-менеджеров или самих заказчиков, представителей какого-нибудь бизнеса. Разделение труда ускоряет работу по созданию сайта или веб-приложения и облегчает его обслуживание.</h5>
    <p>
    {% for el in fourthPhoto %}
            {% if el.task.url %}
            <img src="{{ el.task.url }} " alt="">
        {% endif %}
        {% endfor %}
    </p>
    <h5>Для работы бэкенд-разработчику нужны: </h5>
    <ul>
        <li>аналитический склад ума;</li>
        <li>логическое мышление;</li>
        <li>инициативность;</li>
        <li>способность планировать и следовать планам;</li>
        <li>умение работать в команде;</li>
        <li>гибкость мышления;</li>
        <li>ответственность, упорство, целеустремленность;</li>
        <li>нацеленность на результат и качество;</li>
        <li>стремление к постоянному изучению нового и его применению в своей работе.</li>
</ul>
    <h5>Таким образом, круг задач бэкенд-разработчика выглядит так:</h5>
    <ul>
        <li>разработка модели предметной области (домена);</li>
        <li>разработка платформы и основного функционала, то есть бизнес-логики;</li>
        <li>разработка разработка безопасных приложений, поддерживающих пользовательский интерфейс;</li>
        <li>настройка серверов (боевого, тестового и рабочего) и программ по мониторингу их состояний;</li>
        <li>использование системы контроля версий (это общее требование для всех программистов);</li>
        <li>настройка баз данных, создание моделей предметной области и взаимодействий между ними;</li>
        <li>настройка процессов непрерывной интеграции и поставки.</li>
    </ul>
{% endblock %}