{% extends 'main/base.html' %}
{% load static %}
{% block cssedit %}
<link rel="stylesheet" href="{% static 'css/demand.css' %}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Навыки</h1>
{% for el in photos %}
            {% if el.tableImg.url %}
<div class='photos'>
            <br>
            <img src="{{ el.tableImg.url }} " alt="" width="350" height="200">
            <img src="{{ el.graphImg.url }} " alt="" width="500" height="350">
    <br> </div>
        {% endif %}
{% endfor %}
{% endblock %}